name = "APMAE4001"
uuid = "bdaa913e-a435-5564-aaaf-b31dd25d092b"
authors = ["Qi Zhang <singularitti@outlook.com>"]
version = "0.1.0"

[deps]
LinearAlgebra = "37e2e46d-f89d-539d-b4ee-838fcccc9c8e"
Reexport = "189a3867-3050-52da-a836-e630ba90ab69"

[extras]
Test = "8dfed614-e22c-5e08-85e1-65c5234f0b40"

[targets]
test = ["Test"]
